@model fundu.Models.PostModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PostModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.LocId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocId)
                @Html.ValidationMessageFor(model => model.LocId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatId)
                @Html.ValidationMessageFor(model => model.CatId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostDesc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostDesc)
                @Html.ValidationMessageFor(model => model.PostDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UID)
                @Html.ValidationMessageFor(model => model.UID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FollowPostId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FollowPostId)
                @Html.ValidationMessageFor(model => model.FollowPostId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>


</div>
<div>
    @*@Html.Partial("_PostGrid", model)*@

</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
