@model fundu.Models.PostModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowPostId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FollowPostId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
