@model IEnumerable<fundu.Models.PostModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowPostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowPostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
            </td>
        </tr>
    }

</table>



@*@{
    ViewBag.Title = "_PostGrid";
}

<h2>_PostGrid</h2>*@

